/// COLORS
// Page background color
$page-bg-color: white;

// "Windows XP Light Blue" Fitting for background of text.
$xp-light-blue: #5a7edc;

/// SIZES
// Main content width
$main-width: 1000px;

// Navigation bar image width x height
$nav-img-size: 36px;

// Navigation bar padding between elements
$nav-bar-padding: 5px;

// Home heading image width x height
$home-heading-img-size: 38px;